<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68179612396-eqef10g5at1jdr1dda0dhq5q62maai7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68179612396-eqef10g5at1jdr1dda0dhq5q62maai7q</string>
	<key>API_KEY</key>
	<string>AIzaSyCNjc73u1hbx5B5Y-5UCYy_Im57hRHmDl0</string>
	<key>GCM_SENDER_ID</key>
	<string>68179612396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poadev.TesteFirestore</string>
	<key>PROJECT_ID</key>
	<string>firestore-teste-app-fa10c</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-teste-app-fa10c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68179612396:ios:fce6568fe25765933a0bc9</string>
</dict>
</plist>